@using EventManagement.Application.Common.Pagination;
@using EventManagement.Application.Admin.Users.Queries.GetUsers;
@using System.Security.Claims
@model PagedList<UserDto>
@{
    ViewData["Title"] = "Користувачі";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Користувачі</h1>
</div>

@if (Model.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ім'я</th>
                    <th scope="col">Електронна пошта</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Items)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td class="d-flex justify-content-end">
                            @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != user.Id)
                            {
                                if (user.IsLocked)
                                {
                                    <form method="post" asp-action="Lock">
                                        <input type="hidden" asp-for="@user.Id" name="id">
                                        <input type="hidden" value="false" name="isLocked">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa-solid fa-unlock"></i>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-action="Lock">
                                        <input type="hidden" asp-for="@user.Id" name="id">
                                        <input type="hidden" value="true" name="isLocked">
                                        <button type="submit" class="btn btn-warning">
                                            <i class="fa-solid fa-lock"></i>
                                        </button>
                                    </form>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (@Model.TotalCount > Model.PageSize)
    {
        <div class="text-end">
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="pagesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    @(Model.Page)
                </button>
                <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
                    @for (var i = 1; i <= Model.TotalCount / Model.PageSize; i++)
                    {
                        <li>
                            <a class="dropdown-item" asp-route-pageSize=@Model.PageSize asp-route-page=@i>@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}
else
{
    @* <partial name="_SimpleCard" model="@("There is no Reactions yet")"></partial> *@
}
